{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create List</title>
    <!-- <link rel="stylesheet" href="{% static "css/recipes.css" %}"> -->
  </head>
  <body>
    <main>
      <div>
        <h1>Create a new list</h1>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Submit</button>
        </form>
      </div>
    </main>
    <br>
    <footer>
      This is a good to-do list App
    </footer>
  </body>
</html>
