{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- <link rel="stylesheet" href="{% static "css/recipes.css" %}"> -->
  </head>
  <body>
    <main>
      <div>
        <h1>{{ list.name }}</h1>
        <nav>
          <a href="{% url 'todo_list_update' id=list.id %}">Edit</a>
        </nav>
        <nav>
          <a href="{% url 'todo_list_delete' id=list.id %}">Delete</a>
        </nav>
        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for item in list.items.all %}
              <tr>
                <td>
                  <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                </td>
                <td>{{ item.due_date|date:"M d, Y" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <a href="{% url 'todo_list_list' %}">
        <button>Back to home</button>
      </a>
    </main>
    <br>
    <footer>
      This is a good to-do list App
    </footer>
  </body>
</html>
